obj/dotnet-pipeline.csproj.nuget.dgspec.json
obj/dotnet-pipeline.csproj.nuget.g.props
obj/dotnet-pipeline.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
obj/Debug/net6.0/apphost.exe
obj/Debug/net6.0/dotnet-pipeline.AssemblyInfo.cs
obj/Debug/net6.0/dotnet-pipeline.AssemblyInfoInputs.cache
obj/Debug/net6.0/dotnet-pipeline.assets.cache
obj/Debug/net6.0/dotnet-pipeline.csproj.AssemblyReference.cache
obj/Debug/net6.0/dotnet-pipeline.csproj.CoreCompileInputs.cache
obj/Debug/net6.0/dotnet-pipeline.csproj.FileListAbsolute.txt
obj/Debug/net6.0/dotnet-pipeline.dll
obj/Debug/net6.0/dotnet-pipeline.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/dotnet-pipeline.genruntimeconfig.cache
obj/Debug/net6.0/dotnet-pipeline.GlobalUsings.g.cs
obj/Debug/net6.0/dotnet-pipeline.pdb
obj/Debug/net6.0/ref/dotnet-pipeline.dll
bin/Debug/net6.0/dotnet-pipeline.deps.json
bin/Debug/net6.0/dotnet-pipeline.dll
bin/Debug/net6.0/dotnet-pipeline.exe
bin/Debug/net6.0/dotnet-pipeline.pdb
bin/Debug/net6.0/dotnet-pipeline.runtimeconfig.json
bin/Debug/net6.0/ref/dotnet-pipeline.dll
